html, body{
	width:100%;
	height:100%;
} 

body {
	background-color:#282A2E;
	padding:0;
	margin:0;
}

#game{
	display:block;
	
	max-height:	100%;
	max-width:	100%;
	
	margin-left:	auto;
	margin-right: 	auto;
}
