*{
	margin:0px;
}

body{
	background-color:#444444;
	font-size:0;
	font-family:Arial, sans-serif;
	text-align:center;
}

header, footer, #nav, #side_panel, #body{
	border:2px solid #DA727E;
	background-color:#EAEAEA;
	margin:12px;
	font-size:24px;
	padding:12px;
	/*box-shadow*/
	-webkit-box-shadow:0 12px 12px rgba(0,0,0,0.2);
	   -moz-box-shadow:0 12px 12px rgba(0,0,0,0.2);
	        box-shadow:0 12px 12px rgba(0,0,0,0.2);
}

header, footer{
	/*border-radius*/
	-webkit-border-radius:12px;
	   -moz-border-radius:12px;
	        border-radius:12px;
	display:block;
	font-size:64px;
	color:#DA727E;
}

#sxy{
	position:relative;
	display:block;
	height:144px;
	padding:12px;
}

#nav, #body, #side_panel{
	vertical-align:top;
	display:block;
	color:#555555;
}

#nav, #body{
	height:120px;
	line-height:120px;
}

#nav{
	left:0;
}

#side_panel{
	height:60px;
	line-height:60px;
	right:0;
}

#nav, #side_panel{
	width:120px;
	position:absolute;
	top:0;
}

#body{
	position:absolute;
	display:block;
	left:164px;
	right:164px;
	top:0;
}

#credit{
	height:24px;
	font-size:12px;
	color:#888888;
}

@media screen and (max-width: 980px){
	#nav, #body, #side_panel{
		position:relative;
		left:0;
		right:0;
		top:0;
		display:block;
		width:auto;
	}

	#sxy{
		height:auto;
		padding:0px;
	}
}
