@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

#receipt, #afterbuttons{
	width: 400px;
	text-align: center;
	margin:16px;

	margin-left: auto;
	margin-right: auto;

	font-family:Roboto;
}


#afterbuttons a{
	background-color: #C02942;
	text-decoration: none;
	color:white;
	padding:8px;
	margin:2px;
}

@media print{
	#afterbuttons{
		display: none;
	}
}